<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
         https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- //声明目标对象-->
    <bean id="someService" class="com.xx.ba01.Impl.SomeServiceImpl"/>
    <!--//生命切面对象-->
    <bean id="myAspect" class="com.xx.ba01.Impl.MyAspect"/>
    <!--//声明组东代理生成器
    //aspectj-autoproxy:会把spring中的代理对象一次性自动生成-->
    <aop:aspectj-autoproxy/>


</beans>